* {
  outline: 1px solid red;
}

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.square {
  padding: 0;
  margin: 0;
  outline: 1px solid grey;
}

#container {
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid black;
  padding: 0;
  margin: 0;
  height: 500px;
  width: 500px;
}

button#reset {
  left: 200px;
}

button {
  height: 40px;
  width: 70px;
  position: absolute;
  top: 520px;
}

